*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;  
}
body {
	min-width: 1024px;
}
.container {
	max-width: 1024px;
	margin: 0 auto;
}
.main-screen {
	background-image: url(images/main-bg.png);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	width: 100%;
}
.header {
	position: relative;
}
.nav {
	background-image: url(images/topmenuBg.png);
	width: 967px;
	height: 84px;
	background-repeat: no-repeat;
	background-size: contain;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: end;
	-ms-flex-pack: end;
	justify-content: flex-end;
	padding-top: 20px;
}
.header__menu {
	max-width: 670px;
	padding: 0 100px 0 30px;
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
	-webkit-box-flex: 1;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
}
.nav li {
	font-size: 17px;
}
.nav ul li a:link, .nav ul li a:visited {
    text-decoration: none;
    color: white;
}
.nav ul li a:hover {
	text-decoration: underline;
}

/*Логотип в HEDER*/

.header__logo {
    background-image: url(images/logoBg.png);
    background-repeat: no-repeat;
    width: 278px;
    height: 135px;
    position: absolute;
    top: -20px;
    left: 30px;
    z-index: 2;
}
.safariTour {
    font-family: 'AGAalenBold', sans-serif;
    margin-top: 20px;
    font-size: 33px;
    line-height: 52px;
    color: #299fca;
    -webkit-transform: rotate(-6deg);
    transform: rotate(-6deg);
    margin-left: 13%;
    margin-top: 10%;     
}
.underSafariTour {
    -webkit-transform: rotate(-6deg);
    transform: rotate(-6deg);
    font-family: Arial;
    color: #299fca;
    font-size: 15px;
    line-height: 52px;
    margin-left: 18%;
    margin-top: -13%;
}
.main-screen__body {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-item-align: center;
	align-self: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.main-screen__left {
	padding-top: 5%;
}

/*Aeroplane*/

.aeroplane__bg {
	width: 648px;
	height: 285px;
	background-image: url(images/aeroplane.png);
	background-repeat: no-repeat;
	background-size: contain;	
	position: relative;
}
.aeroplane__content {
	position: absolute;
	right: 13%;
	bottom: 23%;
	text-align: center;
}
.main-screen__title {
    font-family: "a_BighausTitulBrkExtraBold";
    font-size: 51px;
    line-height: 52px;
    color: #127ea5;
}
.main-screen__text {
    font-family: "a_cooperblacknr";
    color: #ded90e;
    font-size: 25px;
    line-height: 29px;
}
/*Arrow*/

.ringBig {
	position: absolute;
	top: 70%;
	left: 0;
}
.ringSmall{
	position: absolute;
	top: 80%;
	left: 10%;
}
.ringBig:hover, .ringSmall:hover {
    cursor: pointer;
    width: 50px;
}

/* Форма в HEDER*/

.onlineBooking {
    background: url(images/onlineBooking.png) no-repeat;
    width:236px;
    height: 49px;
    font-family: "AGLettericaBoldBold";
    color: white;
    font-size: 21px;
	margin-bottom: 30px;
	margin-left: -35px;
	padding-left: 20px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.formHeader {
    background-color: #299fca;
    border: solid 6px #7ebee0;
    border-radius: 15px;
	padding: 25px 30px 15px 15px;
}
.headerInputRow {
    border: solid 3px #a7d1e6;
    border-radius: 7px;
    margin-bottom: 15px;
    height: 30px;
    width: 170px;
    padding-left: 5px;
    font-family: "ag-foreigner-roman-medium";
    font-size: 15px;
    color: #299fca;
}
.select {
    position: relative; /*для позиционирования кастомной стрелочки, относительно этого блокa*/
    appearance: none;/* убираем дефолнтные стрелочки */
    -webkit-appearance: none;/* Chrome */
    -moz-appearance: none;/* Firefox */
    font-family: "ag-foreigner-roman-medium";
    font-size: 15px;
    color: #299fca;
    background: url('images/picArrow.png') no-repeat right center;
    background-color: white;
    text-align: center;
    padding-right: 32px; 
}
.headerInputRowMessage {
    height: 70px;
}
textarea {
    resize: none; /*убрать раздвигалку из textarea*/
}
.contenerForm {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.allFormRow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding-top: 2%;
}
.formWord {
	text-align: right;
    min-width: 80px;
    color: white;
    text-shadow: 
        3px 0 3px #2090b9, 
        0 3px 3px #2090b9, 
        -3px 0 3px #2090b9, 
        0 -3px 3px #2090b9; /*обвести текст*/
    font-family: "ag-foreigner-roman-medium";
    padding-right: 7%;   
}
.headerBtnSubmit {
    background-color: #f1e60a;
    color: #6db3ec;
    border-radius: 7px;
    height: 35px;
    min-width: 95px;
    font-family: "AGLettericaBoldBold";
    font-size: 15px;
    border: none;
    z-index: 10;
}
.btn-cont {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.headerBtnSubmit:hover {
    background-color: white;
    color: #127ea5;
    border:solid 3px #127ea5;
    cursor: pointer;
}

/*Offer*/

.main-screen__footer {
	width: 100%;
	background-image: url(images/cloud1a.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	padding-top: 5vw;
	margin-top: -12%;
	position: relative;
	z-index: 5;
}
.offer {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.titleOurSpecialOffers {
    font-family: "a_bodoninovanr_italic";
    font-size: 29px;
	margin-bottom: 20px;
	font-weight: 400;
}
.specialOffers {
    color: white; 
	padding: 140px 0 0;
}
.offers {
    margin-bottom: 20px;	
}
.contanerRow1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
	min-width: 350px;
}
.contanerRow1 img {
	-webkit-box-flex: 0;
	-ms-flex: 0 1 auto;
	flex: 0 1 auto;
}
.textOffer {
    margin-left: 5%;
	max-width: 230px;
}
.textOffer h3 {
    font-family: "colaborate-medium";
    font-size: 17px;
    margin-bottom: 5px;
}
.textOffer p {
    font-family: "colaborate-thin";
    font-size: 15px;
}
.contanerRow2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
	padding-bottom: 20px;
}
.contanerRow2 span {
    -ms-flex-preferred-size: 10%;
    flex-basis: 10%;
    font-family: "agbenguiatcyr_book";
    font-size: 27px;
	margin-right: 20px;
}
.btnReadMore {
    background-color: #f1e60a;
    color: #6db3ec;
    border-radius: 7px;
    height: 27px;
    width: 100px;
    font-family: "AGLettericaBoldBold";
    font-size: 15px;
    border: none;
}
.btnReadMore:hover {
    background-color: white;
    color: #127ea5;
    border:solid 1px #127ea5;
    cursor: pointer;
}
.contanerRow2Border {
    border-bottom: dotted 3px white;
}

/*Таблица с кнопками,кругами и турами в HEDER*/

.contanerUponTable {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-bottom: solid 1px #81ffff;
    margin-bottom: 2%;
	width: 87%;
}
.twoBtns, .twoCircles {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

/*Кнопки*/

.contanerUponTable button {
    width: 120px;
    height: 30px;
    border: none;
    border-radius: 6px 6px 0 0;
    font-family: "a1010helvetika-normal";
    font-size: 15px;
    text-transform: uppercase;  
}
.contanerBtnTours {
    padding-right: 3%;
}
.btnTours {
    color: #81ffff;
    background-color: #299fca;
}
.btnToursFocus {
    color:#299fca;
    background-color: #81ffff; 
}
.btnPhotos {
    color: #81ffff;
    background-color: #299fca; 
}
.btnPhotosFocus {
    color:#299fca;
    background-color: #81ffff;
}
.btnTours:hover, 
.btnPhotos:hover {
    cursor: pointer;
}
/*Круги*/

.contanerCircleBig, .contanerCircleSmall {
    position: relative;
}
.contanerCircleBig {
    margin-left: 20%;
    z-index: 1;
}
.circleBig {
    background-image: url(images/circleBig.png);
    background-repeat: no-repeat;
    width: 146px;
    height: 95px;
}
.specialSummer {
    font-family: "crashctt"; 
    font-size: 35px;
    line-height: 0px;
    color: #64affc;
    padding-top: 35px;
    padding-left: 25px;
}
.specialSummerSmall {
    font-size: 25px;  
}
.contanerCircleSmall {
    -ms-flex-item-align: end;
    align-self: flex-end;
    margin-left: -20%;
    z-index: 2;
}
.circleSmall {
    background-image: url(images/circleSmall.png);
    background-repeat: no-repeat;
    width: 71px;
    height: 45px;  
}
.offer {
    font-family: "copse";
    font-size: 16px;
    padding-top: 15px;
    padding-left: 15px;
	color: #fff;
}

/*Таблица*/

.offer__right {
	-webkit-box-flex:  1;
	-ms-flex:  1 1 auto;
	flex:  1 1 auto;
	margin-left: 30px;
	padding: 120px 0 0;
}
.tableRow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 1%;
    -ms-flex-pack: distribute;
    justify-content: space-around;
	color: white;
    font-family: "colaborate-thin";
    font-size: 16px;
}
.tableRow a {
	color: #fff;
	text-decoration: none;	
}
.tableRow a:hover {
	text-decoration: underline;
}
.tableCol1 {
    -ms-flex-preferred-size: 3%;
    flex-basis: 3%;
    padding-left: 1%;
    padding-right: 1%;
}
.tableCol2 {
    -ms-flex-preferred-size: 60%;
    flex-basis: 60%;
}
.tableCol3 {
    -ms-flex-preferred-size: 17%;
    flex-basis: 17%;
}
.tableCol4 {
    -ms-flex-preferred-size: 20%;
    flex-basis: 20%;  
}

/*Секция с картой*/

.mapSection {
    background-color: #d6e6ef;
    padding-bottom: 2%;
	width: 100%;
}
.map {
	max-width: 1024px;
}
.map path {
    fill: url(#colorMap);
}
.mapSection h2, .mapSection h3 {
    font-family: "AGLettericaBoldBold";
    text-align: center;
}
.mapSection h2 {
    font-size: 27px;
    color: #4690b4;
    padding-top: 1%;
}
.mapSection h3 {
    font-size: 17px;
    color: #6ab5d0;
    padding-top: 0.5%;
    padding-bottom: 1%;
}

/*POPUP в секции с картой*/

.contenerPopUp {
   display: -webkit-box;
   display: -ms-flexbox;
   display: flex;
    display: none;
    position: absolute;
}

.popUpAndScrollAndTitle {
    background-image: url(images/popUp.png);
    background-repeat: no-repeat; 
    width: 357px;
    height: 279px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    padding-left: 4%;
    /*background-image: linear-gradient(to top right, #e5e1e1, #fcfafa);
    border: solid 3px white;
    border-radius: 5px;
    */
    }
.popUpAndScroll {  
    overflow-y: scroll;
    /*scrollbar-track-color: black;*/
    height: 187px;
    width: 235px;
}
.popUp {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.popUpRow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-bottom: 6%;
}
.popUpRow img {
    border: solid 3px white;
    border-radius: 3px;
}
.textPopUp {
    padding-left: 5%;
}
.textPopUp h3, .textPopUp p, .popUpAndScrollAndTitle h2 {
    color: #afafaf;  
}
.textPopUp h3 {
    font-family: "colaborate-medium";
    font-size: 17px;
    text-align: left;
}
.textPopUp p {
    font-family: "colaborate-thin";
    font-size: 14px;
}
.popUpAndScrollAndTitle h2 {
   font-family: "colaborate-regular";
    padding-left: 10%;
    padding-top: 3%;
}
.empty2 {
    height: 300px; 
    width: 100%;
}

/*FOOTER*/

footer {
    background-color: #127fa6;
	width: 100%;
}
.contanerFooter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    padding-top: 1%;
}
.colNewsLetter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.newsLetter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.inpAndBtnNewsLetter {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.titleFooter {
    font-family: "colaborate-regular";
    font-size: 25px;
    color: white;
    padding-top: 10%;
    padding-bottom: 5%;
    text-shadow: 0px 2px 0px rgba(15, 111, 146, 0.75);
}
.SocialMedia img {
    padding-right: 2%;
}
.SocialMedia img:hover {
    cursor: pointer;
}
.colContactUs {
    padding-top: 1%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    color: white;
    font-family: "colaborate-thin";
    font-size: 14px;
    line-height: 27px;
}
.contanerRow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.nameRow {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
}
.contanerBtnSubscribe {
    padding-left: 5%;
    -ms-flex-item-align: center;
    align-self: center;
}
.contenerbtnSubmit {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}
.btnFooter {
    font-family: "colaborate-regular";
    font-size: 16px;
    color: #479bba;
    background-color: #d6e6ef;
    width: 90px;
    height: 30px;
    border: none;
    border-radius: 5px; 
}
.btnFooter:hover {
    cursor: pointer;
    background-color: #479bba;
    color: #d6e6ef;
    border: solid 2px #d6e6ef;
}
.contenerInpRow {
    padding-bottom: 6%;
    
}
.gradient {
    background: -webkit-gradient(linear, left top, left bottom, from(#133e4e), to(#98d8ef));
    background: linear-gradient(#133e4e, #98d8ef);
    border-radius: 5px;
    padding: 1px;
    width: 197px; /*рамка с градиентом и скруглением углов*/
}
#bigGradient {
    width: 287px;
}
.inpRow {
    background-color: #0f6686;
    font-family: "colaborate-thin";
    font-size: 14px;
    color: rgba(255, 255, 255, 0.329);
    -webkit-box-shadow: 0 0 8px #0d4255 inset;
    box-shadow: 0 0 8px #0d4255 inset;
    border: none;
    border-radius: 5px;
    padding-left: 10px;
     /* без скругления углов градиент*/
    /*border: solid 3px transparent;*/
   /*-moz-border-image: -moz-linear-gradient(#133e4e, #98d8ef);
    -webkit-border-image: -webkit-linear-gradient(#133e4e, #98d8ef); 
    border-image-slice: 1;*/
}
.smallInpRow {
    width: 195px;
    height: 35px; 
}
.bigInpRow {
    width: 285px;
    height: 60px;
    padding-top: 5%;
}
.copyright {
    color: white;
    font-family: "colaborate-thin";
    font-size: 14px;
    line-height: 27px;
    text-align: center;
    padding-bottom: 1%;
}









